[submodule "lisp/linum/-f"]
	path = lisp/linum/-f
	url = https://github.com/targzeta/linum-highlight-current-line-number.git
[submodule "lisp/linum/linum-highlight-current-line-number"]
	path = lisp/linum/linum-highlight-current-line-number
	url = https://github.com/targzeta/linum-highlight-current-line-number.git
[submodule "emacs-gdb"]
	path = lisp/emacs-gdb
	url = https://github.com/weirdNox/emacs-gdb.git
[submodule "emacs-libvterm"]
	path = lisp/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "lisp/centaur-tabs"]
	path = lisp/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs.git
[submodule "elisp-bug-hunter"]
	path = lisp/elisp-bug-hunter
	url = https://github.com/Malabarba/elisp-bug-hunter.git
[submodule "fira-code-mode"]
	path = lisp/fira-code-mode
	url = https://github.com/jming422/fira-code-mode.git
